<div class="container mt-3">

    <div class="row">

        <div class="col-md-10 col-12 mx-auto">

            <a href="/restaurants" class="btn btn-light">
                餐廳清單
            </a>

            <a href="/login" class="btn btn-light">
                登入
            </a>

            <a href="/register" class="btn btn-light">
                註冊
            </a>

        </div>

    </div>

</div>